# Virtual environment
venv/
.env

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# Logs and databases
*.log
*.sqlite3

# IDE-specific files
.vscode/
.vscode
.idea/

# Dependency directories
node_modules/
node_modules
